/* the styles for the elements */
*{
    margin: 0;
    padding: 0;
}
html {
    background-color: rgb(29, 46, 61);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* the styles for the body */
body {
    max-width: 400px;
    background-color: lightgrey;
    width: 100%;
    border: 5px double #575757;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    padding: 20px;
    margin: auto;
}

/* styles for the header */
header {
    font-family: Arial;
    padding: 0.5em 0.5em;
    text-align: center;
    font-size: 1.5em;
}
header .btn {
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-width: 2px;
    border-radius: 50%;
    float: right;
}
#create-account {
    background: transparent;
    color: rgb(29, 46, 61);
    font-size: 14px;
    text-decoration: underline;
    border: none; /* Remove border */
}

/* styles for the main content */
main {
    margin: 0 1.5%;
}
.container {
    padding-left: 50px;
}

/* styles for EventDetailsPage and TaskDetailsPage */
.item {
    padding: 10px;
}
label {
    font-size: 20px;
}

/* style for buttons */
.buttons {
    padding: 15px;
    text-align: center;
    cursor: pointer;
}
.buttons .btn {
    border-width: 2px;
    margin: 0 10px;
    width: 60px;
    height: 30px;
}
#back-button {                             
    cursor: pointer;                                         
    width: 120px;
    height: 30px;
    border-width: 2px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 13px;
    text-align: center;   
    align-items: center;
    font-size: 14px;  
}

/* styles for CreateAccountPage and LoginPage */
form {
    text-align: center;
}
form input {
    width: 250px;
    height: 20px; 
    padding: 5px;
    margin: 10px;
}
input[type="submit"] {
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    width: 120px;
    height: 30px;
    border-width: 2px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}
#create-account  {
    cursor: pointer;
    border-width: 2px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 120px;
    height: 30px;
}
.create-account {
    text-align: center;
}