body {
    margin: 0;
}

/* styles for header */
header {
    text-align: center;
    background-color: rgb(29, 46, 61);
    border: 5px double black;
}
header h1 {
    color: white;
    font-family: "Comic Sans MS", Comic Sans, cursive;
    font-weight: bold;
}
header button {
    float: right;
    margin: 5px;
    cursor: pointer;
}

/* styles for main */
main {
    background-color: lightgray;
    border: 5px double black;
    border-top: none;
    padding: 10px;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    height: 705px;
}
.container h2 {
    font-family: "Comic Sans MS", Comic Sans, cursive;
    text-align: center;
}

/* style for event list */
.left {
    width: 175px;
    margin-right: 10px;
    border: 1px solid black; 
}
#eventList {
    list-style-type: none;
    text-align: left;
    margin: 16px;
    padding: 0;
}
#add-event, #add-task {
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-color: black;
    border-width: 1.5px;
    border-radius: 50%;
    cursor: pointer;
    margin: 16px;
    padding: 0;
}
.event-button {
  padding: 10px;
  margin-bottom: 5px;
  width: 100%;
  border: none;
  background-color: rgb(29, 46, 61);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: "Comic Sans MS", Comic Sans, cursive;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* styles for calendar */
.middle {
    width: 840px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}
.fc-today-button, .fc-prev-button, .fc-next-button {
    cursor: pointer;
}
.fc-daygrid-day {
    cursor: pointer;
    width: 86px;  
    height: 86px; /* Fixed height for each day cell */
}
.fc-day-today {
    font-weight: bold;
    text-decoration: underline;
    background-color: rgb(246, 246, 246) !important;
    box-shadow: 0 0 10px 1px rgba(206, 206, 206, 0.75);

}
.selected-day {
    background-color: rgb(222, 236, 247) !important;
}
.fc-event {
    color: black;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
}

.close {
  float: right;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

  

/* styles for to-do list */
.right {
    width: 175px;
    margin-left: 10px;
    /* background-color: white; */
    border: 1px solid black; 
}
#todoList {
    list-style-type: none;
    text-align: left;
    cursor: pointer;
}
