body {
    margin: 0;
}

/* styles for header */
header {
    text-align: center;
    background-color: rgb(29, 46, 61);
    border: 5px double black;
}
header h1 {
    color: white;
    font-family: "Comic Sans MS", Comic Sans, cursive;
    font-weight: bold;
}
header button {
    float: right;
    margin: 5px;
}

/* styles for main */
main {
    background-color: lightgray;
    border: 5px double black;
    border-top: none;
    padding: 10px;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    height: 705px;
}
.container h2 {
    font-family: "Comic Sans MS", Comic Sans, cursive;
    text-align: center;
}

/* style for event list */
.left {
    width: 175px;
    margin-right: 10px;
    border: 1px solid black; 
}
#eventList {
    list-style-type: none;
    text-align: left;
}
#add-event, #add-task {
    font-size: 20px;
    width: 30px;
    height: 30px;
    border-color: black;
    border-width: 1.5px;
    border-radius: 50%;
    margin: 20px;
    padding: 0;
}

/* styles for calendar */
.middle {
    width: 840px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}

/* styles for to-do list */
.right {
    width: 175px;
    margin-left: 10px;
    /* background-color: white; */
    border: 1px solid black; 
}
#todoList {
    list-style-type: none;
    text-align: left;
}
