/* the styles for the modal */
.modal-content {
    border: 5px double black;
    background-color: lightgray;
    border-radius: 5px double;
    text-align: center;
    width: 400px;
}

/* styles for the modal title */
.modal h2{
    font-size: 30px;
    font-family: "Comic Sans MS", Comic Sans, cursive;
    font-weight: bold;
    margin: 0;
}

/* styles for the inputs */
.input-boxes {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 250px;
    margin: 0 75px;
}
.modal label {
    font-size: 20px;
    margin-top: 15px;
}
.modal input {
    height: 20px;
    padding: 5px;
}

/* style for buttons */
.modal .buttons {
    display: flex;
    padding: 15px;
    justify-content: center;
}
.modal button {
    border-width: 2px;
    margin: 0 10px;
    width: 60px;
    height: 30px;
}
