/* the styles for the elements */
*{
    margin: 0;
    padding: 0;
}
html {
    background-color: #fefefe;
}

/* the styles for the body */
body {
    max-width: 400px;
    width: 100%;
    border: 5px double #575757;
    background-color: #e3e3e3;
    border-radius: 5px;
    margin: 0 auto;
}

/* styles for the header */
header {
    padding: 0.5em 0.5em;
    text-align: center;
    font-size: 1.5em;
}
header .btn {
    font-size: 18px;
    width: 25px;
    height: 25px;
    border-width: 2px;
    border-radius: 50%;
    float: right;
}

/* styles for the main content */
main {

    margin: 0 1.5%;
}
.container {
    padding-left: 50px;
}
.item {
    padding: 10px;
}
label {
    font-size: 20px;
}
#event-title, #event-date {  
    width: 210px;          
    height: 20px;                    
}
#event-time {  
    width: 207px;          
    height: 20px;                    
}
#task-name {
    width: 203px;          
    height: 20px;
}
textarea {
    width: 262px;
    height: 60px;
}

/* style for buttons */
.buttons {
    padding: 15px;
    text-align: center;
}
.buttons .btn {
    border-width: 2px;
    margin: 0 10px;
    width: 60px;
    height: 30px;
}

/*
/* mobile landscape to tablet portrait 
@media only screen and (max-width: 767px) {
    header img {
        float: none;
    }
    header {
        text-align: center;
    }
    main {
        flex-direction: column;
    }
    section {
        width: 100%;
        order: 1;
    }
    aside {
        width: 100%;
        order: 2;
        margin: 0 auto;
    }
    aside ul li a {
        width: 100%;
        padding: 0.5em 0;
        text-align: center;
    }
    #nav_menu {
        display: none;
    }
    .slicknav_menu {
        display: block;
        background-color: #305030 !important;
    }
}

/* mobile portrait to mobile landscape 
@media only screen and (max-width: 479px) {
    body {
        font-size: 85%;
    }
}*/