/* Basic three-column layout */
.container {
    padding: 0 !important;
    display: flex;
    flex-wrap: nowrap;
    /* grid-template-columns: 1fr 2fr 1fr; */

}
.container h3 {
    font-family: "Comic Sans MS", Comic Sans, cursive;
    text-align: center;
}
.left {
    border: 1px solid #ddd;
    width: 200px;
    margin-right: 15px;
}
.middle {
    border: 1px solid #ddd;
    width: 740px;
}
.right {
    border: 1px solid #ddd;
    width: 200px;
    margin-left: 15px;
}
#eventList, #todoList {
    list-style-type: none;
}